{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block header %}
<div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Carousel Indicators -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <!-- Carousel Inner Content -->
    <div id="heroCarousel" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='img/baseball.jpg') }}" class="d-block w-100 carousel-img"
                    alt="baseball">
                <div class="carousel-caption mt-2">
                    <h1 class="fs-1 display-1 fw-bolder text-capitalize">All the Games, All the Tickets, One Place!
                    </h1>
                    <p class="d-none d-md-block">From football to basketball, find tickets to every game here, all
                        in one convenient location.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/stadium.jpg') }}" class="d-block w-100 carousel-img"
                    alt="stadium">
                <div class="carousel-caption mt-2">
                    <h1 class="fs-1 display-1 fw-bolder text-capitalize">Your Ticket to Unforgettable Sports
                        Moments!</h1>
                    <p class="d-none d-md-block">Create lasting memories with friends and family at the biggest
                        games of the year.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/boxing.jpg') }}" class="d-block w-100 carousel-img"
                    alt="boxing">
                <div class="carousel-caption mt-2">
                    <h1 class="fs-1 display-1 fw-bolder text-capitalize">Don’t Miss the Action! Tickets Selling
                        Fast!</h1>
                    <p class="d-none d-md-block">Act now to guarantee your spot in the stands. These seats won't
                        last long!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<section id="featuredEvents" class="pt-5">
    <h2 class="text-center my-5 title">Featured Events</h2>

    <div class="container">
        <div>
            <div class="row">
                <div class="col-lg">
                    <div class="card mb-4">
                        <span class="badge rounded-pill bg-danger position-absolute top-0 end-0 custom-badge">Sold
                            Out</span>
                        <img src="static/img/cricket.jpg" class="card-img-top" alt="cricket">
                        <div class="card-body">
                            <h5 class="title">Sunday Social Cricket - Melbourne
                            </h5>
                            <p class="text">Enjoy a relaxed game of cricket between the Melbourne Mavericks and
                                Carlton Crusaders.</p>
                            <a href="#" class="btn btn-success">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="card mb-4">
                        <span
                            class="badge rounded-pill bg-primary position-absolute top-0 end-0 custom-badge">Active</span>
                        <img src="static/img/rugby1.jpg" class="card-img-top" alt="rugby1">
                        <div class="card-body">
                            <h5 class="title">Amateur Rugby League - Brisbane</h5>
                            <p class="text">Watch the Brisbane Buccaneers take on the Logan Lions in a
                                competitive local rugby league match.</p>
                            <a href="#" class="btn btn-success">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="card mb-4">
                        <span
                            class="badge rounded-pill bg-primary position-absolute top-0 end-0 custom-badge">Active</span>
                        <img src="static/img/afl.jpg" class="card-img-top" alt="afl">
                        <div class="card-body">
                            <h5 class="title">Suburban AFL - Perth</h5>
                            <p class="text">Experience a local AFL clash between the Perth Predators and
                                Fremantle Falcons.</p>
                            <a href="#" class="btn btn-success">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr id="lineBreak" class="w-75 mx-auto mt-5">

<section id="allEvents">
    <h2 class="text-center title">Search all Events</h2>

    <div class="container">
        <input class="form-control mt-4 mb-5 custom-center-search" id="searchInput" type="text"
            placeholder="Filter by Search...">

        <div class="card-group">
            {% for event in events %}
            <div class="card mx-3">

                <div class="card-body">
                    <h5 class="card-title">{{ event.name }}</h5>
                    <p class="card-text">{{ event.description }}</p>
                </div>
                <div class="card-footer"><a href="{{ url_for('event.show', id=event.id) }}"
                        class="btn btn-danger"> View Details </a></div>
                <img class="card-img-top" src="{{ event.image }}" alt="event picture">
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}