@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body,
html {
    height: 100%;
    margin: 0;
}

.special-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    padding: 1rem;
}

.navbar-brand,
.footer-title {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-shadow: -2px 2px black;
}

.nav-item,
.dropdown,
.title,
.form-label,
.card-nav-link,
h1,
h5 {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.main-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    background-color: #e5f4e5;
}

.card-nav-link {
    color: #ffffff;
    background-color: #0dcaf0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-nav-link:hover {
    color: #ffffff;
    background-color: #0dcaf0;
}

.rounded-table {
    border-radius: 1rem;
    overflow: hidden;
}

.container {
    padding: 2rem 0rem;
}

.table-header {
    margin: 2rem 0rem 1rem;
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
}

.table-image {
    td,
    th {
        vertical-align: middle;
    }
}

.table-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

