@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.form-label, h5 {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.form-control {
    font-family: "Chakra Petch", sans-serif;
}

.creation-item {
    margin-bottom: 30px;
}

.form-label {
    margin-bottom: 10px;
    font-weight: bold;
}

.creation-item {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    background-color: #d3ecd3;
}

.creation-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    background-color: #e5f4e5;
}


