.form-label {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.form-control {
    font-family: "Chakra Petch", sans-serif;
}

.creation-item {
    margin-bottom: 30px;
}

.form-label {
    margin-bottom: 10px;
    font-weight: bold;
}

.creation-item{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    background-color: #d3ecd3;
}

.creation-card, .card-body {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    background-color: #e5f4e5;
}

